  
<div id="contact">
  <div class="header-container">
    <h1>Manage<i>U</i></h1>
    
  </div>
  <div class="main-content">
      
      <div class="main-header">
        <h1 style="text-align: center; background-color: white; border: 1px solid black;" >Contact</h1>
      </div>

      <div class="message-to-client">
        <p>If you have any question about how to work the application or if a particular feature is not working, just fill out the form below. I'll get back to you as fast as possible. If you just want someone to talk too, thats fine too. I'll be your friend :), Sincerely, ManageU</p>
      </div>

      
      <form class="form-inline user-email">
        <div class="form-group contact-forms">
          <label class="contact">Name:</label>
          <input cols="100" type="text" ng-model="mail.name" class="form-control" placeholder="Jane Doe" required>
        </div>
        <div class="form-group contact-forms">
          <label class="contact">Email:</label>
          <input cols="100" type="email" ng-model='mail.email' class="form-control" placeholder="John.Doe@example.com" required>
        </div>
        <div class="form-group contact-forms">
          <label class="contact">Subject:</label>
          <input type="text" ng-model='mail.subject' class="form-control"  cols="100" placeholder="Questions" required>
        </div><br>
        <div class="form-group contact-forms" style="margin-top: 20px;">
          <label class="contact">Content:  </label>
          <textarea type="text" ng-model='mail.content' class="form-control" placeholder="Content" rows="10" cols="100"></textarea>
        </div><br>
        <button class="btn" style="margin-top: 10px;" ng-click='mailSubmit()'>Send Message</button>
      </form>

      <p class="email-response">{{ response }}</p>

  </div>
  <div ng-include="'views/footer.html'"></div>
</div>  