<div id="help">
	<div class="help-header" >
		<h1 >Manage<i>U</i></h1>
	</div>


	<div  style="text-align: center; font-family: 'PT Serif'; font-style: italic;">
		<h1>Need Help?</h1>
		<h4>Why do I need to sign in or sign up to use ManageU?</h4>
		<p class="help-content" >
			This site is made for users. Your information is stored on a database. If you don't have a profile it would be difficult to retrieve your information. There is a Lovely Gif file on the homepage to show you what ManageU looks like.
		 </p>
		 <hr class="featurette-divider">
		<h4>Where can I contact the creator?</h4>
		<p class="help-content" >
			If the contact page was unsatisfactory, you can e-mail me directly at MrTerry06@gmail.com.
		 </p>
		 <hr class='featurette-divider'>
		 <h4>Is there anyway to delete my profile?</h4>
		 <p class="help-content" >
			At the moment No. There is not. It is why we do not store sensitive information. The only sensitive information is your password. Your password is encrypted when stored in the database.
		 </p>
		 <hr class='featurette-divider'>
		 <h4>Is there a mobile application for ManageU?</h4>
		 <p class="help-content" >
		 No. There is not a mobile application for ManageU. At the moment, there is no plan for one in the future.
		 </p>
		 <hr class="featurette-divider">
		 <h4>If this did not answer your question E-mail me at MrTerry06@gmail.com</h4>
	</div>

	<div ng-include="'views/footer.html'"></div>
</div>
