<div style="height: 70px; background-color: #009688; border-radius: 4px; border-style: solid; border-width: 1px;">
	<h1 style="text-align: center; font-family: 'Lato';">Manage<span style="font-family: 'Open Sans'; color:#f9ab4a; font-style: italic;">U</span></h1>
</div>
<div>
	<h2 class="contact" style="text-align: center; font-family: 'PT Serif'; font-style: italic;">All Your Finance Organization In One Place</h2>
</div>


<div class=" col col-md-offset3 ">
	<img src="./css/reallly.gif" style="margin-left: 20px; border-radius: 2px;">
</div>
<hr style="box-shadow: 2px 2px white;" class="featurette-divider">
<div class="row">
	<div class="col col-md-6">
		<h3 style="text-align: center; font-family: 'PT Serif'; border-radius: 4px; border-style: solid; background-color: white;"> Financial Peace</h3>
		<p class="contact" style="font-family: 'Oswald'; font-size: 16px;">Imagine! being free from having to worry if you have enough money to buy that jacket, purse, or video game. It feels so good sometimes to be able to buy things spontaneously -- never have to worry about the consequences. Life can sometimes throw a dent, hammer, or very large rock into this wonderful experience. Do you hate that? So do I! ManageU was originally an application born out of a 48 hour coding challenge for organizing my personal life. I saw it was simple and could help others as well. Its because of this you have another means to manage money. Momma can't take care of you forever. Luckily ManageU can take over where she left off! </p>
	</div>
	<div class="col col-md-6">
		<h3 style="font-family: 'PT Serif'; text-align: center;">Log in or Sign Up</h3>
		<input class="form-control" ng-model="user.user" placeholder="UserName"></input>
		<input class="form-control" type="password" ng-model='user.pass' placeholder="password"></input>
		<input class="form-control" type="password" ng-model='user.confirm' placeholder="confirm password"></input>
		<button ng-click="userSignUp()">Sign Up</button>
		<button ng-click="userSignIn()">Sign In</button>
	</div>
</div>
<div style="height: 25px; background-color: #009688; border-radius: 4px;">
	<h4 style="text-align: center; font-family: 'Open Sans';"> &copy; ManageU, 2015, <span style="color:#f9ab4a; font-style: italic; ">All Rights Reserved</span></h4>
	<div class="row">
	<div class="col col-md-1">
	<p class="contact" style="height: 30px; width: 50px; color: black; font-family: 'Open Sans';"><a style="color: black; font-family: 'Oswald';" href="#/contact">Contact</a></p>
	</div>
	<div class="col col-md-1">
	<p class="contact" style=" height: 30px; width: 50px; color: black; font-family: 'Open Sans';"><a style="color: black; font-family: 'Oswald';" href="#/help">Help</a></p>
	</div>
	<div class="col col-md-1">
	<p class="contact" style=" height: 30px; width: 80px; color: black; font-family: 'Open Sans';"><a style="color: black; font-family: 'Oswald';" href="#/manage">WorkSpace</a></p>
	</div>
	</div>
</div>
