
<div id="initial" class="initial">
	
	<div class="initial-header" >
		<h1 >Manage<i>U</i></h1>
	</div>

	<div class="main-container">

		<h2 class="moto" >All Your Finance Organization In One Place</h2>
	
		<img src="./css/reallly.gif"  class="img-responsive">
	</div>

	<hr class="featurette-divider initial-divider">

	<div  class="row sub-container">
		<div  class="col col-md-6 left-section">
			<h3 > Financial Peace</h3>
			<p>Imagine! being free from having to worry if you have enough money to buy that jacket, purse, or video game. It feels so good sometimes to be able to buy things spontaneously -- never having to worry about the consequences. Life can sometimes throw a dent, hammer, or very large rock into this wonderful experience. Do you hate that? So do I! ManageU was originally an application born out of a 48 hour coding challenge for organizing my personal life. I saw it was simple and could help others as well. Its because of this you have another means to manage money. Momma can't take care of you forever. Luckily ManageU can take over where she left off! </p>
		</div>
		<div class="col col-md-6 right-section">
			<h3>Log in or Sign Up</h3>
			<input class="form-control" ng-model="user.user" placeholder="UserName"></input>
			<input class="form-control" type="password" ng-model='user.pass' placeholder="password"></input>
			<input class="form-control" type="password" ng-model='user.confirm' placeholder="confirm password"></input>
			<button class="btn btn-default" ng-click="userSignUp()">Sign Up</button>
			<button class="btn btn-default" ng-click="userSignIn()">Sign In</button>
		</div>
	</div>
	<div ng-include="'views/footer.html'"></div>

</div>
