<div id="account" class="account">
	<div class="account-header" style="border: 1px solid black; background-color: white;">	
		<h4 class="name-header" style="border-bottom: 1px solid black"><b>Welcome</b> <span>{{ accountInfo.user }}!</span></h4>
		<h1 class="header" style="border: none;">Manage<span>U</span> Home</h1>
	</div>
	<hr class="featurette divider">

	<div class="form-container" >

		<h2 class="form-subheader" >Add a Bill</h2>

		<form>
			<input ng-model="bill.item" class="form-control" placeholder="Bill/Item">
			<input ng-model="bill.date" class="form-control"placeholder="Date">
			<input ng-model="bill.amount" class="form-control" placeholder="Amount">
			<button ng-click="addBill()" class="btn btn-block">Submit</button>
		</form>
	</div>

	<div class="form-container" >
		<h3 class="form-subheader" >How much do you plan on making this week?</h3>
			<input class="form-control" ng-model="make" placeholder="$100.00">
			<button class="btn btn-block" ng-click="makeSubmit()" >Submit</button>
	</div>


	<div class="form-container">
		<h2 class="form-subheader">How Much Do You Have</h2>
		
		<b style="text-align: center; display: block;" >{{ poss | currency }}</b>
		
		<hr class="featurette divider">

		<h2 class="form-subheader">What Are Your Daily needs</h2>
		
		<div class="input">
			<input class="form-control input" ng-model="day.item" placeholder="Need">
			<input class="form-control input" ng-model="day.amount" placeholder="Price">
			<button class="btn  " ng-class=" { 'btn-block' : days.length < 1, 'wide-button' : days.length >= 1 } " ng-click="addDay()">Add</button>
			<button class="btn  wide-button" ng-hide="days.length < 1" ng-click="removeDay()">Remove</button>
		</div>

		<ul ng-repeat="day in days">
			<li>{{ day.item }}</li>
			<li>{{ day.amount | currency }}</li>
		</ul>

		<hr class="featurette divider">

		<h2 class="form-headings">What Are Your Weekly Needs</h2>
		
		<div class="input">
			<input class="form-control input" ng-model="week.item" placeholder="Need">
			<input class="form-control input" ng-model='week.amount' placeholder="Price">
			<button class="btn" ng-class=" {'btn-block': weekly.length < 1, 'wide-button': weekly.length >= 1}" ng-click='addWeek()'>Add</button>
			<button class="btn  wide-button" ng-hide="weekly.length < 1"  ng-click="removeWeek()">Remove</button>
		</div>
		
		<ul ng-repeat="week in weekly">
			<li>{{ week.item }}</li>
			<li>{{ week.amount  | currency }}</li>
		</ul>
		
		<div>

			<hr class="featurette divider">

			<h2 class="form-headings">What Are Your Monthly Needs?</h2>

			<button class="btn" style="display: block; margin: 0 auto;" ng-show="bills.length > 0" ng-click="removeBill()">Remove</button>
			<h3 ng-hide="bills.length > 0" style="color: #ccc; text-align: center;" >Add a Monthly Bill :)</h3>
			<ul ng-repeat="bill in bills">
				<li>{{ bill.item }}</li>

				<li>{{ bill.date }}</li>
			</ul>

		</div>

		<hr class="featurette divider">
		
		<div class="row">
			<div class="col col-md-6">
				<h3 class="form-headings">How much is free</h3>
				<b style="text-align: center; display: block;">{{ free | currency }}</b>
				<input class=" form-control input" ng-model="freeAdd" class="form-control" placeholder="Adjust">
				<button class="btn btn-block" ng-click="addFree()">Adjust</button>	
			</div>
			
			<div class="col col-md-6">
				<h3 class="form-headings">Things You Want</h3>
				<div class="input" style="position: relative;">
					<input class="form-control" ng-model="want.item" placeholder="Want" width="90px">
					<input class="form-control input" ng-model="want.amount" placeholder="Price">
					<button class="btn" ng-click="addWant()" ng-class="{'btn-block': wants.length < 1, 'wide-button' : wants.length >= 1 }" >Add</button>
					<button class="btn wide-button" ng-show="wants.length > 0" ng-click="removeWant()">Remove</button>
				</div>
				<ul ng-repeat='want in wants'>
					<li>{{want.item}}</li>
					<li>{{want.amount | currency }}</li>
				</ul>
			</div>

		</div>

	</div>


	<div class="row coupled-forms">
		<div class="col col-md-6 first-form" >
			<h2>Emergency Fund</h2>
			<b>{{ emergency | currency}}</b>
			<input class="form-control" ng-model="emerInput" placeholder="Amount">
			<button class="btn btn-block" ng-click="changeEmer()">Modify</button>
			<i>Note: it is wise to have at least $200.00 in emergency fund</i>
		</div>
		<div class="col col-md-6 second-form" >
			<h2>Investment</h2>
			<input ng-model="invest.place" placeholder="place" class="form-control">
			<input ng-model="invest.amount" placeholder="amount" class="form-control">
			<button class="btn" ng-class="{ 'btn-block' : investment.length < 1 , 'wide-button' : investment.length > 0 }" ng-click="addInvestment()">Add</button>
			<button class="btn wide-button" ng-show="investment.length > 0" ng-click="removeInvestment()">Remove</button>
			<ul ng-repeat="invest in investment">
				<li>{{ invest.place }}</li>
				<li>{{ invest.amount | currency }}</li>
			</ul>
			<i style="display: block;" >Note: Investment is extremely important in developing wealth. Look up Assets, Bonds, and liabilities to learn more</i>
		</div>
	</div>
	<div ng-include="'views/footer.html'"></div>
</div>
